
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    color: #ffffff;
    width: 100%;
    text-align: center;
}

video {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
    margin-left: 0;
    margin-right: 0;
    background-size: cover;
    object-fit: fill;
}

.centerone {
    margin-top: 200px;
    position: absolute;
    display: block;
    text-align: center;
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    font-family: 'Roboto';
    letter-spacing: .2rem;
    font-style: ;
}

.caption {
    letter-spacing: .2rem;
    max-width: 600px;
    padding: -50%;
}

.man {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

img {
    width: 150px;
    height: 150px;

}

h1 {
    font-size: 48px;
    font-family: 'Nothing You Could Do', cursive;
}

h3 {
    margin-top: -20px;
    font-size: 18px;
    font-weight: lighter;
}

.second {
    display: block;
    margin-top: 816px;
}

.background {
    position: relative;
    z-index: -10;
    margin-left: 0;
    margin-right: 0;
    background-size: cover;
    object-fit: fill;
    width: 100%;
    height: 800px;  
}


/* .centertwo{
    margin-top: 200px;
    position: absolute;
    display: block;
    text-align: center;
    top: 816px;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    
    letter-spacing: .2rem;
    
    
} */