h1{
	text-align: center;
	padding: 10px 40px 10px 40px;
	color:#F46D52;
	font-family: Helvetica;
	font-size: 26px;
}
h2{
	text-align: center;
	font-family: Helvetica;
}
div{
	text-align: center;
	font-size: 16px;
}
body{
    background-color:#FFFFFF;
    color:#0E1116;
    font-family: Helvetica;
    margin-left:10%;
    margin-right:10%;
}

.corous{
	color:#748EB0;
	font-weight: bold;
}


.bridge{
	font-style: italic;
	color:#add8e6;
}
